.footer {
  position: relative;
}

.social-icons a {
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff; 
}

/* Footer.css */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.social-icons a {
  text-decoration: none;
}

